[build-system]
build-backend = "hatchling.build"
requires = ["hatchling>=1.10.0", "hatch-vcs"] # TODO move hatch-vcs back in to get automatic version control


#TODO Fix Dynamic versioning with Hatch
[project]
requires-python = ">=3.8"
name        = "pyscreech"
description = "PyScreech - Audio Performance Library"
readme      = "README.md"
version = "0.0.4"
# dynamic     = [ "version" ]
# license     = "MIT"
# TODO Add other Authors
authors = [
  { name = "Seth Henshaw", email = "seth.s.henshaw@leidos.com" },
]

classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: MIT License",
  "Environment :: Console",
  "Natural Language :: English",
  "Intended Audience :: Developers",
  "Intended Audience :: Education",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Topic :: Multimedia :: Sound/Audio :: Analysis",
]


dependencies = [
    "numpy>=1.24.4",
    "librosa~=0.10.0.post2",
    "matplotlib~=3.7.2",
    "loguru>=0.6.0",
    "pystoi~=0.3.3"
]


[project.urls]
Source        = "https://github.com/hensh2ss/pyscreech"
Documentation = "https://github.com/hensh2ss/pyscreech"


# please see README.md for how these
# optional dependencies work
[project.optional-dependencies]
developer =[
    "hatch", # build tool
    "wheel", # build tool
    "black[jupyter]==22.*",
    "pytest>=6.0.0",
    "pip>=23.1.1",
    "setuptools",
    "flake8",
    "twine",
    "coverage",
]




# [tool.hatch.build]
# ignore-vcs   = false
# reproducible = true
# directory    = "dist"
# include = [
#   "src/",
#   "tests/",
#   "pyproject.toml",
# ]

# # # exclude = [
# # #   "tools/",
# # # ]

# [tool.hatch.build.hooks.vcs]
# version-file = "src/pyscreech/__about__.py"
# template = """
# # coding: utf-8
# # File automatically generated by setuptools_scm.
# # Do not change or track in version control.
# __version__ = {version!r}
# version_tuple = {version_tuple!r}
# """

[tool.hatch.metadata]
allow-direct-references = true

# [tool.hatch.version]
# source = "vcs"
# path   = "src/pyscreech/__about__.py"

[tool.hatch.version.raw-options]
version_scheme = "post-release"


# # Tools
# [tool.setuptools_scm]
# # the presence of this empty block stops setuptools_scm from complaining

# [tool.pytest.ini_options]
# addopts    = "-ra -q"
# log_level  = "ERROR"
# testpaths  = [ "tests" ]
# log_cli = true
# filterwarnings = [ ]
# markers = [
#   "slow",                       # This test is slow
#   "online",                     # This test needs open internet access
#   "end_to_end",                 # Full End to End Test (typically slow)
#   "unit",                       # These are Unit Tests (fast and lightweight)
# ]
# # TODO: Add these to the pytest options. From armory/validation/test_config
# # addopts = -p no:cacheprovider
# # filterwarnings =
# #     ignore::DeprecationWarning
# #     ignore::RuntimeWarning
# #     ignore::UserWarning:tensorflow*
# #     ignore::UserWarning:torch*
# #     ignore::Warning:art*


# [tool.isort]
# profile = "black"
# force_sort_within_sections = true

# # TODO Update console Scripts
# [project.scripts]
# stipa = "pyscreech.stipa.cli:main"